BODY{
  background-color: black;
  text-decoration-color: white;
}

#headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-shadow: 1px 1px 0px #000000;
}
#byline{
  font-size:1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

#chapter-headline{
  font-size:2em;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
}

.image{
  display: block;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  width:1600px;
  height: 600px;
}

p{
  font-family: 'Montserrat', sans-serif;
  line-height: 180%;
  font-size: 1em;
  color: white;
}

footer{
  background-color: #eeeeee;
  text-align: center;
  text-transform: uppercase;
}
