#headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: green;
  text-shadow: 1px 1px 0px #000000;
}
#byline{
  font-size:1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

#chapter-headline{
  font-size:2em;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: green;
  letter-spacing: 0.1em;
  background-color: #eeeeee;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1em;
}
