BODY{
  background-color: black;
}

p{
  font-family: 'Montserrat', sans-serif;
  line-height: 180%;
  font-size: 1em;
  color: white;
}

footer{
  background-color: #eeeeee;
  text-align: center;
  text-transform: uppercase;
}
