BODY{
  background-image: url("world_map2.jpg");
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position: 35% 40%;
  background-size:cover;
  font-family: 'Roboto Condensed', sans-serif;

}


#ticket{
  margin:auto;
  width: 50%;
  background-color: white;
  height: 500px;
  width: 1300px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

#topofticket{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 2em;
  text-decoration: uppercase;
  background-color: #BBBBBB;
  color: white;
  width:1300px;
}

#topofticket2{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 2em;
  text-decoration: uppercase;
  color: black;
  width:1300px;
}
#barcode{
  float:left;
  height:120px;
  width:500px;
  padding-right: 100px;
  transform:rotate(270deg);
  position: absolute;
  left:80px;
}

#tickettext{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 6em;
  text-decoration: uppercase;
}

#ticketsubtext{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2em;
  text-decoration: uppercase;
  margin-left: 300px;
  margin-right:300px;
}

#byline{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 2em;
  text-decoration: uppercase;
  margin-left: 300px;
  margin-right:300px;
}

#card{
  margin:auto;
  width: 50%;
  padding: 10px;
  background-color: white;
  height: 850px;
  width: 1300px;
}

#quote{
  font-family: 'Castoro', serif;
  font-size:3em;
  font-weight:800;
  text-align:left;
  padding: 15px, 0px, 15px, 0px;
  border-top: 1px, solid, #f23030;
  border-bottom: 1px, solid, #f23030;
  margin:20px;
}

#subquote{
  font-size:1.8em;
  font-family: 'Castoro', serif;
  font-style:italic;
  text-align:right;
  margin-right:150px;
}

.tag1{
  margin:auto;
  width: 50%;
  padding: 10px;
  background-color: #FF5252;
  height: 750px;
  width: 1300px;

  clip-path: polygon(
    0 0,
    0 0,
    80% 0,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 100%,
    0% 10%
  )

}

.tag2{
  margin:auto;
  width: 50%;
  padding:10px;
  background-color: #F3FF5E;
  height: 750px;
  width: 1300px;

  clip-path: polygon(
    0 20%,
    20% 0,
    100% 0,
    100% 20%,
    100% 100%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  )

}

#containercard{
  padding:10px;
  margin:20px;
  width:100%;
}

.container1{
  padding: 10px;
  padding-right: 120px;
  margin-right: 75px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.container2{
  padding: 10px;
  padding-left: 120px;
  margin-right: 20px;
  margin-left: 75px;
  margin-bottom: 10px;
  margin-top: 15px;
}

p{
  font-family: 'Castoro', serif;
  line-height: 200%;
  font-size: 20px;
  color: black;
}

.image1{
  float:right;
}

#photo1{
  width:600px;
  margin:10px;
}

.imageattribute{
  font-style: italic;
  font-weight: 300;
  font-size: 1em;
}

.image2{
}

#photo2{
  width:800px;
  margin-bottom:10px;
}

.euromap{
  background-color: white;
  width:500px;
  float: left;
  margin-right: 20px;
  padding:10px;
  margin-top:20px;
}

.bargraph{
  width: 1050px;
  height:480px;
  overflow:scroll;
  float: right;
  border:5px;
  background-color: white;
  padding:10px;
  margin-left: 15px;
  margin-top:15px;
  margin-bottom:20px;
}

.piechart{
  width:500px;
  height:570px;
  float: left;
  border: 5px;
  background-color: white;
  padding: 10px;
  margin-right: 35px;
  margin-top: 40px;
  margin-bottom:50px;
}

footer{
  background-color: #00397D;
  text-align: center;
  text-transform: uppercase;
  width:100%;
}

@media screen and (max-width: 700px) {
    body {
        background-image: url("world_map2.jpg");
    }
    .tag1{
      height: 80px;
      width: 130px;
    }
    .tag2{
      height: 80px;
      width: 130px;
    }

  }

@media screen and  (max-width: 800px) {
  body {
      background-image: url("world_map2.jpg");
  }

  img{
    display: none;
  }

  .imageattribute{
    display: none;
  }

    .tag1{
      height: 200px;
      width: 375px;
      font-size: 5px;
      overflow: scroll;
    }

    .tag2{
      height: 200px;
      width: 375px;
      font-size:5px;
      overflow: scroll;
    }
    .euromap{
      display: none;
    }
    .piechart{
      display: none;
    }
    .piechart{
      display:none;
    }

    .container1{
      margin:0 auto;

    }
    .container2{
      margin:0 auto;
    }

    #ticket{
      height:200px;
      width:375px;
      display:none;
    }

    #card{
      height:300px;
      width:375px;
    }

    p{
      font-size: 10px;
    }

    #tickettext{
      display:none;
    }

    #ticketsubtext{
      display:none;
    }

    #byline{
      display:none;
    }

    #topofticket{
      display:none;
    }

    #topofticket2{
      display:none;
    }
    #barcode{
      display:none;
    }

    #quote{
      display:none;

    }

    #subquote{
      display:none;
    }

    #containercard{
      overflow:scroll;
      padding:0px;
      margin:0px;
    }


    .footer{
      width:100%
    }
  }
